/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.datetime-container {
    display: flex;
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap; /* Allows wrapping to the next line if container width is exceeded */
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Space between the items */
}

.input-slider-container {
    position: relative;
    align-items: center;
}

.input {
    width: 70px;    /* Adjust width as needed */
    height: 50px;   /* Adjust height as needed */
    font-size: 1.5em; /* Adjust font size as needed */
    text-align: center;
    margin: 5px;
    border: 2px solid #ccc; /* Border style */
    border-radius: 10px;     /* Rounded corners */
    padding: 10px 45px 10px 10px; /* Padding to make room for the slider */
}

.slider {
    width: 40px; /* Width of the slider */
    position: absolute;
    right: 5px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%); /* Center the slider vertically */
    background: transparent;
    pointer-events: none; /* Disable pointer events */
}

span {
    font-size: 4em; /* Larger separators */
    user-select: none;
}

