body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.datetime-container {
    display: flex;
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.input-slider-container {
    position: relative;
    align-items: center;
}

.input {
    width: 70px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    margin: 5px;
    border: 2px solid #ccc; 
    border-radius: 10px;     
    padding: 10px 45px 10px 10px; 
}

.slider {
    width: 40px; 
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%); 
    background: transparent;
    pointer-events: none; 
}

span {
    font-size: 4em; 
    user-select: none;
}

